<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Login</title>
	<link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="../../static/css/css.css" th:href="@{/css/css.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
				<div class="card-body">
					<h5 class="card-title text-center">Login</h5>
					<form class="form-signin" action="/usuario/login" method="post">
						<div class="form-label-group">
							<label>Email</label>
							<input type="email" id="inputEmail" maxlength="100" class="form-control"
								   placeholder="Email" name="login"/>
						</div>

						<div class="form-label-group">
							<label>Senha</label>
							<input type="password" id="inputPassword" maxlength="200"
								   class="form-control" placeholder="Senha" name="senha" />
						</div>
						<div class="custom-control custom-checkbox mb-3" id="perma">
							<input type="checkbox" class="custom-control-input"
								   id="customCheck1"/>
							<label class="custom-control-label" for="customCheck1">Lembrar senha</label>
							<span class="margin"><a href="perfil.html"> Esqueci
											a senha </a></span>
						</div>
						<button class="btn btn-lg btn-primary btn-block botoes text-uppercase"
								type="submit">Entrar</button>

					</form>
					<div class="alert-warning alert alerta" th:if="${msg!=null}" th:text="${msg}"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../bootstrap.min.js" ></script>
</html>
