<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{_templateDeslogado}">
<head>
	<title>Perfil</title>
	<link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="../../static/css/css.css" th:href="@{/css/css.css}" rel="stylesheet" />
</head>
<body>
<div layout:fragment="menu" th:object="${usuario}" class="container" id="container">
	<div class="imagem">
		<img src="../../static/image/perfil.jpg" th:src="@{/image/perfil.jpg}" width="200px"
			 height="200px" alt="foto de perfil" id="fotoPerfil"/>
		<a href="#"> Alterar foto de perfil </a>
	</div>
	<div class="campo">
		<p class="h2">Nome</p>
		<div class="form-control">
			<p th:text="*{nome}" class="h4"></p>
		</div>
	</div>
	<div class="campo">
		<p class="h2">RG</p>
		<div class="form-control">
			<p th:text="*{rg}" class="h4"></p>
		</div>
	</div>
	<div class="campo email">
		<p class="h2">Email</p>
		<div class="form-control">
			<p th:text="*{login}" class="h4"></p>
		</div>
	</div>
	<div class="campo grande">
		<p class="h2">CPF</p>
		<div class="form-control">
			<p th:text="*{cpf}" class="h4"></p>
		</div>
	</div>
	<div class="campo grande">
		<p class="h2">Nascimento</p>
		<div class="form-control">
			<p th:text="*{#dates.format(nascimento.getTime(),'dd/MM/yyyy')}" class="h4"></p>
		</div>
	</div>
</div>
</body>
</html>
