<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Empresa</title>
</head>
<body>
    <div>
        <form action="/empresa/cadastro" method="post">
            <div>
                <label>Digite o nome:
                    <input type="text" name="nome">
                </label>
            </div>
            <div>
                <label>
                    Digite o cnpj:
                    <input type="number" name="cnpj">
                </label>
            </div>
            <div>
                <label>
                    Cep:
                    <input type="number" name="cep">
                </label>
            </div>
            <div>
                <label>
                    Logradouro:
                    <input type="text"name="logradouro">
                </label>
            </div>
            <div>
                <label>
                    Descrição:
                    <input type="text" name="descricao">
                </label>
            </div>
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>