<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro do Evento</title>
</head>
<body>
    <form action="/evento/cadastro" method="post">
        <div>
            <label>
                Nome:
                <input type="text" name="nome">
            </label>
        </div>
        <div>
            <label>
                Data primeiro dia:
                <input type="date" name="primeiroDia">
            </label>
        </div>
        <div>
            <label>
                Data final:
                <input type="date" name="ultimoDia">
            </label>
        </div>
        <div>
            <label>
                Preco:
                <input type="text" name="preco">
            </label>
        </div>
        <div>
            <label>
                Lugares por dia:
                <input type="number" name="lugaresPorDia">
            </label>
        </div>
        <div>
            <label>
                Horario inicial:
                <input type="text" name="horarioInicial">
            </label>
        </div>
        <div>
            <label>
                Horario limite:
                <input type="text" name="horarioLimite">
            </label>
        </div>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>