body {
	background-color: #c3f043;
}
.conta a:hover {
	text-decoration: none;
}

.margin {
	float: right;
}

.alerta{
	margin-top: 20px;
}

.margin a {
	color: #341f4a;
}

.margin a:hover {
	text-decoration: none;
}

#perma {
	width: 100%;
}

#container {
	whidth: 75%;
	height: 100%;
	background-color: #c3f043;
}

#logo {
	float: right;
}

.video {
	display: block;
	margin: 0 auto;
}

#col_nome {
	height: 200px;
	text-align: center;
}

.divEnd{
	margin-bottom: 15px;
}

#tabela {
	width: 700px;
	margin: 0 auto;
}

#col_img {
	height: 200px;
}

.parceiros {
	padding: 20px;
}

.linha {
	border: 2px;
	border-style: solid;
	border-radius: 5px;
	border-color: #BDBDBD;
}

#fotoPerfil {
	border-radius: 10px;
	margin: 30px;
	margin-bottom: 10px;
}

.imagem {
	text-align: center;
	width: 260px;
	float: left;
}

.campo {
	margin-top: 30px;
	margin-left: 5px;
	margin-bottom: 5px;
	text-decoration-color: #341f4a;
	align: right;
	float: left;
	padding: 1px;
	width: 33%;
	text-align: center;
}

.email {
	width: 66%;
}

.grande {
	width: 45%;
}

.compra {
	width: 186px;
	height: 76px;
}

.compra a {
	padding: 3px;
}

.compra aside {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.saldo {
	float:left;
	text-align: center;
	height: 140px;
	width: 50%;
	margin-left: 25%;
	border: 1px solid white;
	border-radius: 20px;
}

::-webkit-scrollbar {
	width: 0;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: transparent;
}

input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.corpoTabela{

	overflow-y: scroll;
	position: relative;
	height: 350px;
}

.bg-dark{
	background-color: #341f4a;
}

.table{
	margin-left: 25%;
	width:50%;
}

.col_pal {
	height: 35%;
	width: 100%;
	border-bottom: 1px solid white;
	background-color: #F5F6CE;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.col_saldo {
	height: 65%;
	width: 100%;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #BCF5A9;
}

.soundgate a {
	color: #c3f043;
}

.absoluto{
	float:left;
	height:100%;
}

.texto p{
	font-size: large;
}

.menu {
	background-color: #341f4a;
	border-color: #341f4a
}

.botoes{
	background-color: #341f4a;
	border-color: #341f4a
}

.botoes a:hover {
	background-color: #8fbd00;
}

.navbar-nav a {
	color: #f9ff78;
}