<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   >
<head>
	<title>SoundGate</title>
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="../static/css/css.css" th:href="@{/css/css.css}" rel="stylesheet" />
</head>
<body>
	<div>
		<div class="navbar navbar-expand-lg navbar-dark bg-dark menu">
			<a class="navbar-brand soundgate" href="/">SoundGate</a>
			<button class="navbar-toggler" type="button">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText" th:switch="${session.usuario}">
				<ul style="float: left" class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/como">Como
							usar</a></li>
					<li class="nav-item"><a class="nav-link" href="/onde">Onde
							usar</a></li>
				</ul>
				<div th:case="${null}">
					<span class="nav-link nav-item navbar-text conta"> <a
						href="/usuario/login"> Login </a>
					</span> <span class="nav-link nav-item navbar-text conta"> <a
						href="/usuario/cadastro"> Cadastrar </a>
					</span>
				</div>
				<div th:case="*">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/usuario/compra">Comprar</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/usuario/perfil">Perfil</a>
						</li>
						<span class="nav-link nav-item navbar-text conta"> <a
								href="/usuario/deslogar"> Sair </a>
						</span>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div layout:fragment="menu">
	</div>
</body>

</html>
