<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SoundGate</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/css.css" th:href="@{/css/css.css}" rel="stylesheet" />
</head>
<body>
<div class="navbar navbar-expand-lg navbar-dark bg-dark menu">
    <a class="navbar-brand soundgate" href="#">SoundGate</a>
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="home.html">Home
                <span class="sr-only">(current)</span>
            </a></li>
            <li class="nav-item"><a class="nav-link"
                                    href="perfil.html">Perfil</a></li>
            <li class="nav-item"><a class="nav-link" href="compra.html">Comprar</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="como.html">Como
                usar</a></li>
            <li class="nav-item"><a class="nav-link" href="onde.html">Onde
                usar</a></li>
        </ul>
        <span class="nav-link nav-item navbar-text conta"> <a
                href="login.html"> Sair </a>
			</span>
    </div>
</div>
</body>
</html>
