<!DOCTYPE html>

<html>
<head>
	<title>Como usar</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../static/css/css.css" rel="stylesheet"/>
</head>
<!--<ui:composition template="_templateDeslogado.xhtml">-->
<body>
<div class="container" id="container">
	<img src="../image/catraca.jpg"
		 styleClass="video" width="300" height="200" />
	<p>Lorem ipsum dolor sit amet, sumo habemus expetendis nec an. No
		tale movet mea. Eam dicam mentitum ea. Ne has velit libris, no pro
		congue putent meliore. Sit te vivendum molestiae. Ei vim nonumes
		molestie, ea his tale inimicus torquatos, natum liberavisse
		concludaturque no sit Eu sit epicuri abhorreant, ei rebum petentium
		aliquando ius. Ea mel omnis praesent eloquentiam, ut facete vivendo
		pri. Ad eam legimus nominati, elit solet laoreet ad mel. Usu ad
		exerci fastidii albucius.</p>
	<p>Dicant fabellas cum ea. No usu dolore aeterno, at clita nostro
		vix, et sea paulo neglegentur. Et cum dicat complectitur. Tale
		dictas pro no, sea ea legere vocent docendi, nec cu appareat
		adolescens. Vim primis doming legimus eu, no nam tota solum
		vituperatoribus, malis adversarium qui an. Fierent praesent
		convenire ut per, ut novum equidem voluptua mei, sed ea omnis
		efficiantur.</p>
	<p>In sit agam verear noluisse, no omittam complectitur nec, qui
		mazim graece mucius cu. An nam agam sale primis, sit et natum semper
		iriure, nostrud vivendum nec an. Te vidit everti vim, his ut timeam
		dissentias, porro comprehensam est ex. Ex nostrud facilisis eam. Usu
		cu modo dicat mediocritatem, ex consulatu intellegam nam. Ad pro
		quis illum minimum, splendide referrentur ut duo.</p>
	<p>Option appareat intellegebat eos id, eu probo dolore vocibus
		his. Cibo nonumy nullam an ius, eu mutat tantas invidunt duo,
		partiendo cotidieque neglegentur eum at. Gubergren liberavisse et
		mel, id nam alterum tractatos, qui aeterno saperet cu. Vix novum
		noluisse eu, et quo iisque vivendum honestatis. Intellegat
		deterruisset at pri, viderer dolorem nominati pri ne. Nibh omnesque
		instructior no eam, ad nec nulla blandit, eam nostro iuvaret cu.</p>
	<p>Option appareat intellegebat eos id, eu probo dolore vocibus
		his. Cibo nonumy nullam an ius, eu mutat tantas invidunt duo,
		partiendo cotidieque neglegentur eum at. Gubergren liberavisse et
		mel, id nam alterum tractatos, qui aeterno saperet cu. Vix novum
		noluisse eu, et quo iisque vivendum honestatis. Intellegat
		deterruisset at pri, viderer dolorem nominati pri ne. Nibh omnesque
		instructior no eam, ad nec nulla blandit, eam nostro iuvaret cu.</p>
</div>
</body>
<script type="text/javascript" src="../bootstrap.min.js" ></script>
<!--</ui:composition>-->
</html>
