<!DOCTYPE html>

<html>

<head>
	<title>Compras</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../static/css/css.css" rel="stylesheet"/>
</head>
<!--<ui:composition template="_template.xhtml">-->
<body>
<div class="compra">
	<div class="container-fluid">
		<div class="row h-100">
			<div class="col-12 col-md-2 bg-dark menu">
				<div
						class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row menu">
					<div class="collapse navbar-collapse menu">
						<ul
								class="flex-md-column flex-row navbar-nav justify-content-between">
							<li class="nav-item active"><a class="nav-link" href="#">Saldo</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="#">Comprar</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="#">Historico</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="#">Configurações</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="saldo">
	<div class="col_pal">
		<p class="h3">Saldo disponível</p>
	</div>
	<div class="col_saldo">
		<p class="h3">R$300,00</p>
	</div>
</div>
</body>
<script type="text/javascript" src="../bootstrap.min.js" ></script>
<!--</ui:composition>-->
</html>
