<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
	<title>Home</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../static/css/css.css" rel="stylesheet"/>
</head>
<body>
<div class="container" id="container">
	<img src="../static/image/logo.png" id="logo"
         width="300" height="300" />
	<p>"Uma cidade inteligente &eacute; reflexo de uma sociedade inteligente."
		Levando em considera&ccedil;&atilde;o o avan&ccedil;o tecnol&oacute;gico &eacute; not&aacute;vel que alguns
		setores n&atilde;o usufruem da tecnologia de maneira a facilitar a vida de
		seus usu&aacute;rios dividindo o mundo tecnol&oacute;gico. Ao analisar os dados da
		pesquisa de mercado, foi poss&iacute;vel observar que 82% de 244 pessoas
		pesquisadas n&atilde;o gostam de pegar filas, visto isso percebemos a
		necessidade de uma automa&ccedil;&atilde;o de todo o processo que envolve filas.
	</p>
	<p>
		A partir disso, criamos o SoundGate, o aplicativo ir&aacute; se conectar com o
		sensor a partir das tecnologias listadas no final do texto, que podem
		ser alteradas ao decorrer do projeto, e ao se conectar recebe uma
		notifica&ccedil;&atilde;o, permitindo a cobran&ccedil;a do servi&ccedil;o previamente oferecido,
		como por exemplo passar na catraca do metr&ocirc;. Utilizando o conceito de
		smart cities e tecnologias como iBeacon/Arduino e um smartphone, o
		SoundGate tem como objetivo criar um sistema onde voc&ecirc; pode de
		maneira f&aacute;cil, r&aacute;pida e segura ter intera&ccedil;&otilde;es com a cidade, e com um
		objetivo a longo prazo centralizar todas as suas necessidades em
		apenas um lugar.
	</p>
	<p>
		Cada usu&aacute;rio do SoundGate poder&aacute; fazer o download em seu smartphone do aplicativo SoundGate, que ser&aacute; uma plataforma na
		qual ele ter&aacute; diversas possibilidades de facilitar sua vida,
		funcionalidades que ir&atilde;o evitar filas e ter melhores experi&ecirc;ncias com
		servi&ccedil;os que normalmente s&atilde;o burocr&aacute;ticos e demorados, primeiramente
		ir&aacute; funcionar de maneira que ao passar por um devido local, como por
		exemplo uma catraca, a mesma emite um sinal para o usu&aacute;rio que
		confirma sua compra no aplicativo e pode passar livremente sem
		precisar de um cart&atilde;o.
	</p>
	<p>
		Grande parte de empresas que trabalham com planos de neg&oacute;cio que envolvem filas poder&atilde;o usar o SoundGate para
		trazer produtividade, economia de custos e seguran&ccedil;a a seu neg&oacute;cio
		fazendo com que os usu&aacute;rios se sintam mais c&ocirc;modos e tenham
		facilidade para utiliza&ccedil;&atilde;o do servi&ccedil;o. A primeira meta a ser atingida
		com o SoundGate ser&aacute; criar um sistema, primeiramente em &acirc;mbito
		privado, no qual os usu&aacute;rios possam aproveitar melhor o tempo
		evitando gast&aacute;-lo em filas e assim aplicando a ideia de smart
		efficiency na sua rotina. A segunda meta ser&aacute; expandir o SoundGate
		para um &acirc;mbito p&uacute;blico, na qual &eacute; poss&iacute;vel usufru&iacute;-lo em locais como
		metr&ocirc;s, &ocirc;nibus, e servi&ccedil;os p&uacute;blicos em geral.
	</p>
</div>
</body>
<script type="text/javascript" src="../bootstrap.min.js" ></script>
</html>
