<!DOCTYPE html>
<html>
<head>
	<title>Onde usar</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../static/css/css.css" rel="stylesheet"/>
</head>
<!--<ui:composition template="_templateDeslogado.xhtml">-->
<body>
<div class="container parceiros" id="container">
	<div class="row linha" id="tabela">
		<div class="col" id="col_nome">
			<h2>Cinemark</h2>
			<p>No cinemark, estar&atilde;o disponiveis catracas que podem ser
				usadas caso voc&ecirc; tenha um ingresso no seu celular comprada pela
				nossa plataforma.</p>
		</div>
		<div class="col rounded-bottom" id="col_img">
			<img src="../image/cinema.jpg" id="logo"
				 width="350" height="200" />
		</div>
	</div>
</div>
<div class="container parceiros" id="container">
	<div class="row linha" id="tabela">
		<div class="col" id="col_nome">
			<h2>Teatro Iguatemi</h2>
			<p>Temos tamb&eacute;m parceria com o teatro Iguatemi, onde
				disponibilizamos seus ingressos para compra.</p>
		</div>
		<div class="col rounded-bottom" id="col_img">
			<img src="../image/teatro.jpg" width="350"
				 height="200" />
		</div>
	</div>
</div>
<script type="text/javascript" src="../bootstrap.min.js" ></script>
</body>
<!--</ui:composition>-->
</html>


